 <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.username.label_tag }}
          {% render_field myFilter.form.username class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.first_name.label_tag }}
          {% render_field myFilter.form.first_name class="form-control" %}
        </div>
    
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.last_name.label_tag }}
          {% render_field myFilter.form.last_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ myFilter.form.year.label_tag }}
          {% render_field myFilter.form.year class="form-control" %}
        </div>